body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  padding-top: 70px;
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
header h1 {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px;
  position: relative;
  max-width: 570px;
  margin: 0 auto;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

h2 {
  margin-left: 1em;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  transition-duration: 0.5s;
  display: flex;
  justify-content: space-between;
}
.move {
  /*transform: rotateY(90deg) rotateX(270deg);*/
  transform: rotateX(270deg);
  color: #fff;
  background: #aaa;
  border-radius: 25px;
}

li .text {
  margin-left: 10px;
}

.subs {
  background: #abb8ef;
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
li.subs_user {
  background: khaki;
}
span.counts {
  background: #fff;
  border-radius: 50%;
  margin-left: 40px;
  padding: 4px 10px;
  margin-top: -5px;
  box-shadow: 0 0 6px;
}
span.count_all {
  background: khaki;
  border-radius: 50%;
  margin-right: 40px;
  padding: 4px 8px;
  box-shadow: 0 0 4px;
}
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
}